<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Grade Calculators</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <p id="title">Fall 2024 Course Grade Calculator </p>
    <p class="text">This is a grade calculator for my Fall 2024 classes at UT Austin. The following classes I have configurated a calculator for are listed below:</p>
    <p>
        <ul class="list">
            <a href="EM-306">E M 306</a>
        </ul>
    </p>
</body>
</html>