<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M 427J Calculator</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1 class="header text">M 427J Calculator - Differential Equations</h1>
    <p class="text">This is a grade calculator for the course M 427J with Professor Lomeli in Fall 2024. 
        Enter your grades for the assignments as follows. Please be sure to enter your grades 
        on the 100-point scale for all assignments. For assignments not yet reached, or for 
        assignments that have passed but will not count towards your final grade, leave the field blank.
    </p>

    <form action="{{ url_for('views.M427J')}}" method="post">
        <div class="box1">
            <div class="h">Quizzes:<br></div>
            <input type="text" name="q1" placeholder="Grade for Quiz #1" /><br>
            <input type="text" name="q2" placeholder="Grade for Quiz #2" /><br>
            <input type="text" name="q3" placeholder="Grade for Quiz #3" /><br>
            <input type="text" name="q4" placeholder="Grade for Quiz #4" /><br>
            <input type="text" name="q5" placeholder="Grade for Quiz #5" /><br>
            <input type="text" name="q6" placeholder="Grade for Quiz #6" /><br>
            <input type="text" name="q7" placeholder="Grade for Quiz #7" /><br>
            <input type="text" name="q8" placeholder="Grade for Quiz #8" /><br>
            <input type="text" name="q9" placeholder="Grade for Quiz #9" /><br>
            <input type="text" name="q10" placeholder="Grade for Quiz #10" /><br>
        </div>
        <div class="box2">
            <div class="h">Midterms:<br></div>
            <input type="text" name="m1" placeholder="Grade for Midterm #1" /><br>
            <input type="text" name="m2" placeholder="Grade for Midterm #2" /><br>
            <input type="text" name="m3" placeholder="Grade for Midterm #3" /><br>
        </div>
        <div class="box3">
            <div class="h">Final:<br></div>
            <input type="text" name="f" placeholder="Grade for Final" /><br>
            <button type="submit" id="submit">Calculate</button><br>
        </div>
    
    </form>

    <div class="outputs">
        Quiz Average: {{ q_result_text }}<br>
        Midterm Average: {{ m_result_text }}<br>
        Course Average: {{ grade_average_text }}<br>
        Letter Grade: {{ letter_grade_text }}<br>
    </div>

    <div class="navbar">
        made by anneke anderson :)
        <a href="/" class="active">Home</a>
        <a href="https://github.com/anneke030" class="active" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/annekeanderson/" class="active" target="_blank">LinkedIn</a>
    </div>
</body>
</html>